certifi==2019.11.28
chardet==3.0.4
docutils==0.15.2
idna==2.8
Kivy==1.11.1
kivy-deps.glew==0.2.0
kivy-deps.gstreamer==0.2.0
kivy-deps.sdl2==0.2.0
Kivy-examples==2.0.0rc1
Kivy-Garden==0.1.4
kivymd==0.103.0
numpy==1.18.0
opencv-contrib-python==4.1.2.30
Pillow==7.0.0
Pygments==2.5.2
requests==2.22.0
urllib3==1.25.7
